<html> 
  <head> 
    <title>Hello, Rails!</title> 
  </head> 
  <body> 
    <h1>Hello from Rails!</h1> 
    <ul> 
      <li>It is now <%= @time %> </li> 
    </ul> 
    <p> 
    Time to say 
    <%= link_to "Goodbye!", :action => "goodbye" %> 
    </p> 
    <% for file in @files %> 
      file name is: <%= file %> <br>
    <% end %> 
  </body> 
</html> 
